@charset "UTF-8";
@import url("/sp/css/common/head_add.css");

/******************
invite 招待部分のCSS
http://juristerra.viewerwarning.net/invite/
**********************/
input{
  -webkit-appearance:none;
  border-radius:0;
  font-size:;
}

#container > #modal_invite_parent {
  margin: 40px auto!important;
}
#modal_invite_parent {
  display: none;
  background: #fff;
  box-sizing: border-box;
  padding: 30px 8px;
  width:90%;
  height:270px;
  transition: .2s;
}
#modal_invite h2{
  margin:0 0 18px;
}

.btn_top_link{
  margin-top:30px;
}
.btn_top_link + .btn_top_link{
  margin-top:20px;
}

#modal_invite p{
  font-size:14px;
  line-height:19px;
}

#modal_invite_parent.complete {
  width: 620px;
  height: 320px;
  padding: 60px 30px;
}

#modal_invite_parent > div > .txt_14:first-child {
  text-align: center;
  margin-bottom: 32px;
}

#modal_invite_parent > div > .txt_14:first-child + .clear {
  width: 100%;
}

#modal_invite_parent > div > .txt_14:first-child + .clear p {
  height: 24px;
  line-height: 24px;
  float: left;
}

#modal_invite_parent > div > .txt_14:first-child + .clear input {
  float: right;
  width: 294px !important;
  margin-top: 0 !important;
}

#modal_invite_parent a.btn_modalLawyer {
  display: block;
  float: right;
  height: 23px;
  padding: 0 10px;
  margin-top: -3.5px;
  background: #44d095;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  line-height: 23px;
}

#modal_invite_parent #modal_detail .slimScrollDiv {
  height: 420px;
}

#modal_invite_parent .slimScrollDiv {
  height: 406px;
  margin: 10px 0 25px;
  border: 1px solid #e5e8eb;
}

#modal_invite_parent .slimScrollDiv .scroll-box {
  height: 100%;
  margin: 0;
  border: none;
  padding: 0;
}

#modal_invite_parent .btn_can {
  display: inline-block;
  width: 120px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  background: #bbb;
  cursor: pointer;
}

#modal_invite_parent .scroll-item {
  cursor: pointer;
}

#modal_invite_parent .scroll-item.selected {
  background: #edfbfc !important;
}

#modal_invite_parent .scroll-item.selected * {
  background-color: transparent;
}

#modal_invite_parent .ta_c {
  text-align: center;
}

#modal_invite_parent .ta_c .btn_import {
  display: inline-block;
  width: 212px;
  height: 30px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  background: #44d095;
  cursor: pointer;
}

#modal_invite_parent .ta_c .btn_can {
  margin-left: 16px;
}

#modal_invite_parent #modal_detail .modal_back {
  width: auto;
  height: 14px;
  padding: 0;
  padding-left: 22px;
  font-size: 12px;
  line-height: 14px;
  color: #bbb;
  font-weight: normal;
  background: url(/img/common/icon_circle_arrow_left.png) 3px center no-repeat;
}

#modal_invite_parent #modal_detail .scroll-box > div {
  background: #fff !important;
  padding: 8px 10px;
}

#modal_invite_parent #modal_detail .scroll-box > div * {
  background: #fff !important;
}

#modal_invite_parent #modal_detail .scroll-box > div > p.txt_14:first-child + p.txt_22 {
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid #e5e8eb;
}

#modal_invite_parent #modal_complete p.fw_b {
  margin-bottom: 16px;
}

#modal_invite_parent #modal_complete p.fw_b + p.txt_14 {
  height: 54px;
  line-height: 27px;
}

#modal_invite_parent #modal_complete span {
  width: 315px;
  display: inline-block;
  text-align: center;
  color: #fff;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  line-height: 40px;
  cursor: pointer;
}

#modal_invite_parent #modal_complete span.btn_return {
  margin: 27px auto 10px;
  background: #44d095;
}

#modal_invite_parent #modal_complete span.modal_close {
  background: #bbb;
}


#modal_invite_parent .icon_share{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}


#modal_invite_parent #modal_complete span{
  width: 200px;
  padding: 9px 0;
  height: 30px;
  line-height: 2.5;
}

#modal_invite_parent .btn_return_link,
#modal_invite_parent .btn_complete,
#modal_invite_parent .complete_link,
#modal_invite_parent .confirm_link,
#modal_invite_parent .btn_top,
#modal_invite_parent .btn_top_link,
#modal_invite_parent .btn_return,
#modal_invite_parent .btn_import,
#modal_invite_parent .btn_invite {
   text-align: center;
    display: inline-block;
    width: 192px;
    height: 38px;
    font-size: 12px;
    color: #fff!important;
    font-weight: bold;
    line-height: 38px;
    background: #44d095;
    cursor: pointer;
}

#modal_invite_parent .btn_can {
    margin-right: 13px;
   text-align: center;
    padding: 9px 0;
    display: inline-block;
    width: 200px;
    height: 30px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    background: #bbbbbb;
    cursor: pointer;
}



#modal_invite_parent .title-modal{
  margin: 20px auto;
}
#modal_invite_parent .txt-detail{
  text-align: center;
  font-size: 13px;
  line-height: 1.7;
}
#modal_invite_parent .title-signup{
  text-align: center;
  border-bottom: 4px solid #44d095;
  padding-bottom: 8px;
  width: 140px;
  margin: 0 auto;
}
#modal_invite_parent .title-signup + h2{
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}


#modal_invite_parent .modal-invite{
  margin: 0 auto;
  padding: 40px;
/*  max-width: 580px;*/
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.1);
  background: #ffffff;
}

#modal_invite_parent .modal-detail{
  margin-top: 20px;
  line-height: 1.7;
}

#modal_invite_parent .info-txt{
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}

#modal_invite_parent .modal-explain + table,
#modal_invite_parent .modal-explain + p{
  margin-top: 15px;
}
#modal_invite_parent .modal-explain +.input {
  display: block;
  margin: 15px auto;
}

#modal_invite_parent .modal-detail + .ta_c,
#modal_invite_parent .modal-explain + .ta_c,
#modal_invite_parent .input + .ta_c{
  margin: 20px auto 0;
}

#modal_invite_parent .btn_register{
  text-align: center;
  margin: 30px auto 0;
  padding: 9px 0;
  display: block;
  width: 212px;
  height: 30px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  background: #44d095;
  cursor: pointer;
}




/******************
invite 招待進捗部分のCSS
http://juristerra.viewerwarning.net/invite/
**********************/



#modal_invite_parent .modal-progress{
  margin: 0 auto;
  width: 347px;
  height: 48px;
  position: relative;
  font-size: 12px;
  text-align: center;
  color: #bbb;
}
#modal_invite_parent .modal-progress .step1{
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 28px;
  padding: 10px 0;
  line-height: 12px;
  background: url("../../img/invite/arrow_invitechart_firststep.png") no-repeat;
}
#modal_invite_parent .modal-progress .step1.current{
  color: #fff;
  background: url("../../img/invite/arrow_invitechart_current01.png") no-repeat;
}
#modal_invite_parent .modal-progress .step2{
  position: absolute;
  top: 0;
  left: 116px;
  width: 125px;
  height: 28px;
  padding: 10px 0;
  line-height: 12px;
  background: url("../../img/invite/arrow_invitechart_nextstep.png") no-repeat;
}
#modal_invite_parent .modal-progress .step2.current{
  color: #fff;
  background: url("../../img/invite/arrow_invitechart_current02.png") no-repeat;
}
#modal_invite_parent .modal-progress .step3{
  position: absolute;
  top: 0;
  left: 232px;
  width: 125px;
  height: 28px;
  padding: 10px 0;
  line-height: 12px;
  background: url("../../img/invite/arrow_invitechart_laststep.png") no-repeat;
}
#modal_invite_parent .modal-progress .step3.current{
  color: #fff;
  background: url("../../img/invite/arrow_invitechart_current03.png") no-repeat;
}


#modal_invite_parent,
#modal_invite_parent.complete,
#modal_invite_parent .modal-invite-progress{
  display: none;
  background: #ffffff;
  bottom:0;
  margin:auto;
}

#modal_invite_parent .modal-checkboxarea .input_checkbox + label:before{
  margin-top: -12px;
}
#modal_invite_parent .modal-checkboxarea .input_checkbox + label:after{
  margin-top: -9px;
}

#modal_invite_parent .modal-checkboxarea input,
#modal_invite_parent .modal-checkboxarea label{
  vertical-align: middle;
}

#modal_invite_parent .table-modal,
#modal_invite_parent .table-modal tbody{
  display: block;
  width: 100%;
}
#modal_invite_parent .table-modal.is-mail-top {
  width: 495px;
  margin: 15px auto 0;
}
#modal_invite_parent .table-modal .table-first tr{
  display: table;
  margin-top: 15px;
}
#modal_invite_parent .table-modal .table-first td{
  display: table-cell;
}
#modal_invite_parent .table-modal tr{
  width: 100%;
}
#modal_invite_parent .table-modal th{
  margin-top: 30px;
  display: block;
  text-align: left;
  font-size: 13px;
}
#modal_invite_parent .table-modal th.column2 span:first-child{
  margin-right: 14px;
  display: inline-block;
  width: 47%;
}
#modal_invite_parent .table-modal td{
  margin-top: 5px;
  display: block;
}

#modal_invite_parent .table-modal .table-first{
  display: table;
}
#modal_invite_parent .table-modal .table-first th{
  display: table-cell;
  width: 100px;
  text-align: right;

    padding-right: 20px;
}



#modal_invite_parent input.input{
  padding: 10px 12px;
  border: 1px solid #e5e8eb;
  width: 490px;
  box-sizing: border-box;
}
#modal_invite_parent textarea.textarea{
  padding: 10px 12px!important;
  border: 1px solid #e5e8eb!important;
  width: 100%!important;
  min-width: 490px!important;
  height: auto!important;
  min-height: 160px!important;
  box-sizing: border-box!important;
  margin-bottom: 9px!important;
}

#modal_invite_parent input.input.column2{
  width: 48%;
}
#modal_invite_parent input.input.column2:first-child{
  margin-right: 14px;
}


#modal_invite_parent .modal-explain h2{
  font-size: 14px;
  text-align: center;
}
#modal_invite_parent .modal-explain h3{
  font-size: 13px;
  text-align: center;
}
#modal_invite_parent .modal-checkboxarea{
  margin: 0 auto 10px;
  display: block;
  width: 495px;
}
#modal_invite_parent .modal-checkboxarea label {
  font-weight: bold;
}
#modal_invite_parent .modal-checkboxarea label span{
  margin-left: 10px;
  font-weight: normal;
}
#modal_invite_parent .modal-checkboxarea label span a {
  color: #44d095;
  text-decoration: underline;
}


/******************
invite 汎用パーツの radio button
**********************/

#modal_invite_parent .radiobutton-area{
  display: inline-block;
}
#modal_invite_parent .input_radiobutton{
  display: none;
}

#modal_invite_parent .input_radiobutton + label {
    display: inline-block;
    position: relative;
    line-height: 15px;
    cursor: pointer;
    padding: 0 30px 10px 20px;
}

#modal_invite_parent .input_radiobutton + label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 4px;
    display: block;
    border: 1px solid #bbb;
    box-sizing: border-box;
    background: #fff;
    width: 12px;
    height: 12px;
    margin-top: -11px;
    border-radius: 90%;
}

#modal_invite_parent .input_radiobutton + label:after {
    transition: all .2s;
    opacity: 0;
    content: '';
    position: absolute;
    top: 50%;
    left: 7px;
    background-color: #44d095;
    width: 6px;
    height: 6px;
    margin-top: -8px;
    border-radius: 87%;
}
#modal_invite_parent .input_radiobutton:checked + label:after {
  opacity: 1;
}


#modal_invite_parent #nav li.btn_block a.btn_modalOpen.invite{
  padding-left: 0;
  background: 0;
}



#modal_invite_parent .btn_modalEdit {
  margin-bottom: 30px;
}
#modal_invite_parent .modal-confirm-area {
  margin: 30px auto;
  width: 500px;
}
#modal_invite_parent .modal-confirm-data {
  margin-top: 15px;
  color: #bbb;
  font-weight: bold;
  font-size: 12px;
}


#modal_invite_parent body{
  background: #ecf1f2!important;
}
#modal_invite_parent #wrapper{
  min-height: 840px;
}
/*******アカウント登録画面******/
.serves_section .serves_block p.invite_account{
	margin-bottom:0;
	color: #bbb;
	font-weight: bold;
}
.serves_section .serves_block .person_name{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.serves_section .serves_block .fw_b{
	font-weight:bold;
}
.serves_section .serves_block .info-txt {
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.serves_section .serves_block .button_entryacount{
	text-align: center;
    padding: 9px 0;
    width: 260px;
    height: 30px;
    font-size: 12px;
    color: #fff!important;
    font-weight: bold;
    line-height: 30px;
    background: #44d095;
    margin:50px auto 0;
}
.serves_section .serves_block .button_entryacount a{
    color: #fff;
    display:block;
}

.invite_box{
  background:#fff;
  box-sizing:border-box;
  padding:18px 15px;
  border:1px solid #e5e8eb;
  margin-top:36px;
  margin-bottom:130px;
}

.invite_flow{
  display: -webkit-flex;
  display:flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.invite_flow li{
  height:40px;
  margin-right:4px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items:center;
  align-items:center;
  position: relative;
  background:#ddd;
  color:#bbb;
  font-size:11px;
  flex:1;
  padding-left:4px;
}

.invite_flow li.selected{
  background:#44d095;
  color:#fff;
}

.invite_flow li:first-child{
  margin:0;
}

.invite_flow li:not(:last-child):before{
  content:"";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  width:0;
  height:0;
  border:20px solid transparent;
  border-left:11px solid #fff;
}

.invite_flow li:not(:first-child):after{
  content:"";
  position: absolute;
  top: 0;
  bottom: 0;
  left:100%;
  width:0;
  height:0;
  border:20px solid transparent;
  border-left:11px solid #ddd;
}
.invite_flow li:not(:first-child).selected:after{
  border-left-color: #44d095;
}

.invite_head{
  margin:17px 0 8px;
  text-align: center;
}

.invite_subHead{
  margin:8px 0;
  text-align: center;
}

.invite_form{
  margin-top:32px;
}
.invite_form_box + .invite_form_box{
  margin-top:20px;
}

.center{
  text-align: center;
}

.invite_form_head{
  font-size:14px;
  margin-bottom:15px;
  font-weight: bold;
}

.invite_box .input_text[type="text"]{
  display: block;
  box-sizing:border-box;
  padding:5px;
  border:1px solid #e5e8eb;
  height:32px;
  width:100%;
  line-height:20px;
}

.input_read{
  margin-top:38px;
  letter-spacing:.03em;
}

.invite_form_box textarea{
  display: block;
  box-sizing:border-box;
  padding:5px;
  border:1px solid #e5e8eb;
  width:100%;
  min-height:197px;
}

.invite_form_box .input_checkbox + label{
  position: relative;
  height:15px;
  line-height:15px;
  margin-bottom:10px;
  padding-left:26px;
  font-size:14px;
}
.invite_form_box label{
  font-size: 12px;
}
.invite_form_box .input_checkbox + label + p{
  padding-left:26px;
}

.invite_form_box .input_checkbox + label:before{
  width:16px;
  height:16px;
  margin-top:-8px;
}
.invite_form_box .input_checkbox + label:after{
  width:10px;
  height:10px;
  margin-top:-5px;
  left:3px;
}

.invite_form a.link{
  color:#44d095;
  text-decoration: underline;
}

.invite_btn{
  margin-top:30px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.invite_btn-green,
.invite_btn-gray{
  display: block;
  width:48.5%;
  height:33px;
  line-height:33px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border-radius:3px;
  border:none;
  color:#fff;
}

.invite_btn-green{
  background:#44d095;
}

.invite_btn-gray{
  background:#bbb;
}

.invite_cttl{
  color:#bbb;
  font-weight:bold;
  font-size:12px;
  margin-top:15px;
}

.invite_ccnt{
  font-weight: bold;
  margin:10px 0;
}