#column-sub { background-color: transparent; margin-top: 38px; }

.profile-title { display: flex; align-items: center; background: #fff; box-sizing: border-box; min-height: 130px; padding: 35px 30px 44px 160px; }
.profile-title .icon_circle { width: 140px; height: 140px; margin-left: 8px; }
.profile-title_container { margin-left: 22px; min-width: 540px; width: 70%; }
.profile-title_container > p { font-size: 14px; }
.profile-title_container h1 { font-size: 18px; line-height: 23px; padding: 8px 0; margin: 0; border-bottom: 1px solid #bbb; }
.profile-title_container h1 a { color: #bbb; font-size: 11px; margin-left: 15px; padding-left: 18px; }

.link_follow { background: url(/img/common/icon_follow.png) 0 0 no-repeat; }
.link_connect { background: url(/img/common/icon_follow.png) 0 0 no-repeat; }
.link_message { background: url(/img/common/icon_mail.png) 0 0 no-repeat; }

.profile-title-metadata { padding: 14px 0; display: flex; }
.profile-title-metadata-box1 { width: 330px; line-height: 20px; box-sizing: border-box; border-right: 1px solid #e5e8eb; }
.profile-title-metadata-box1 .sns-area { margin-top: 10px; }
.profile-title-metadata-box1 .sns-area a { margin-right: 2px; }
.profile-title-metadata-box1 .locale { background: url(/img/common/icon_locate.png) 0 center no-repeat; padding-left: 17px; color: #bbb; }
.profile-title-metadata-box2 { width: 190px; box-sizing: border-box; padding-left: 20px; }
.profile-title-metadata-box2 dt { color: #bbb; font-size: 8px; }
.profile-title-metadata-box2 dd { font-size: 12px; line-height: 16px; padding: 7px 0; margin: 0; }

.sub-profile-box { background: #fff; box-sizing: border-box; padding: 20px; margin-bottom: 10px; }
.sub-profile-box h3 { font-size: 14px; border-bottom: 1px solid #bbb; padding: 8px 0; margin: 0 0 15px; }
.sub-profile-box h3 div { font-size: 20px; }
.sub-profile-box h3 div span { color: #bbb; font-size: 12px; margin-right: 3px; }

.pop_up { position: relative; padding-left: 11px; display: inline-block; cursor: pointer; }
.pop_up .pop_message { display: none; width: 220px; box-sizing: border-box; font-size: 12px; text-align: left; line-height: 22px; background: #66d7db; padding: 16px 20px; color: #fff; position: absolute; top: 32px; left: -50px; z-index: 2; }
.pop_up .pop_message:after { bottom: 100%; left: 22%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(102, 215, 219, 0); border-bottom-color: #66d7db; border-width: 10px; margin-left: -10px; }
.pop_up:hover .pop_message { display: block; }

.bar-graph-list { line-height: 18px; }
.bar-graph-list:after { content: ""; display: block; clear: both; }
.bar-graph-list dt { color: #444; font-size: 12px; float: left; }
.bar-graph-list dd { font-size: 14px; padding: 0; margin: 0 0 10px; }
.bar-graph-list dd p { font-weight: bold; }
.bar-graph-list .progress { height: 10px; margin-top: 5px; }
.bar-graph-list .progress.type01 { background: #73afc0; }
.bar-graph-list .progress.type02 { background: #406175; }
.bar-graph-list .progress.type03 { background: #13253e; }
.bar-graph-list .progress.type04 { background: #7fd396; }
.bar-graph-list .progress.type05 { background: #5e9574; }
.bar-graph-list .progress.type06 { background: #1d3e37; }

.sub-profile-connection { display: flex; font-size: 11px; line-height: 18px; }
.sub-profile-connection > div { min-width: 59px; text-align: center; padding: 5px; border-right: 1px solid #bbb; }
.sub-profile-connection > div:last-child { border: none; }
.sub-profile-connection > div > div { display: block; font-size: 20px; font-weight: 400; line-height: 22px; }
.sub-profile-connection .pop_up { padding-left: 2px; vertical-align: bottom; }
.sub-profile-connection .pop_up img { width: 12px; height: 12px; }
.sub-profile-connection .pop_up .pop_message { left: -60px; }

.sub-profile-fee { display: flex; font-size: 11px; line-height: 18px; border-bottom: 1px solid #bbb; }
.sub-profile-fee > div { width: 50%; text-align: center; padding: 5px; border-right: 1px solid #bbb; margin-bottom: 16px; }
.sub-profile-fee > div:last-child { border: none; }
.sub-profile-fee > div > div { display: block; font-size: 20px; font-weight: 400; line-height: 22px; }
.sub-profile-fee .pop_up { padding-left: 2px; vertical-align: bottom; }
.sub-profile-fee .pop_up img { width: 12px; height: 12px; }
.sub-profile-fee .pop_up .pop_message { left: -60px; }

.sub-profile-box section { font-size: 11px; }
.sub-profile-box section h4 span { color: #bbb; }
