@import '../_mixin';

.footer{
    padding-top: 2rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    @include ff;
    background: #bbb;
    @include e(inner){
        @include flex($j:space-between, $w:wrap);
        width: 85.33%;
        margin: 0 auto;
        @include e(item){
            display: block;
            width: 29%;
            padding: .6rem 0 .6rem 2%;
            margin-bottom: .3rem;
            color: #fff;
            font-size: 1.2rem;
            text-decoration: none;
            &:nth-child(3n){
                width: 34%;
            }
        }//item
    }//inner
    @include e(copy){
        padding: 2.5%;
        border-top: .1rem solid #fff;
        margin-top: 1.3rem;
        color: #fff;
        font-size: 1rem;
        text-align: center;
    }
}//footer