@import '../_mixin';
.btn_balloon{
    @include m(active){
        &:before, &:after{
            position: absolute;
            z-index: 2;
            top: 100%;
            left:0;
            right: 0;
            margin: auto;
            content: "";
            height: 0;
            width: 0;
            border: solid transparent;
        }
        &:before{
            border-bottom-color: #bbb;
            margin-top: -.15rem;
            border-width: .6rem;
        }
        &:after{
            border-bottom-color: #fff;
            margin-top: -.05rem;
            border-width: .6rem;
        }
    }
}

.balloon{
    position: absolute;
    top: 100%;
    right: -1rem;
    z-index: 1;
    display: none;
    min-width: 10rem;
    padding: 1.1rem .7rem;
    margin-top: 1rem;
    border: .1rem solid #bbb;
    background:#fff;
    @include e(item){
        display: block;
        @include ff;
        font-size: 1.2rem;
        line-height: 2rem;
        text-decoration: none;
        color: #333;
        cursor: pointer;
    }
}

.active{
    > .balloon{
        display: block;
    }
}