#column-sub {
  margin-top: 38px;
  background-color: transparent;
}

#profile_top_info{
  margin-top: 37px;
}

.profile-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  min-height: 130px;
  padding: 35px 30px 44px 160px;
  background: #fff;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-title .icon_circle {
  margin-left: 8px;
  width: 140px;
  height: 140px;
}

.profile-title_container {
  width: 70%;
  min-width: 540px;
  margin-left: 22px;
}

.profile-title_container > p {
  font-size: 14px;
}

.profile-title_container h1 {
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid #bbb;
}

.profile-title_container h1 a {
  font-size: 11px;
  margin-left: 15px;
  padding-left: 18px;
  color: #bbb;
}

.link_follow {
  background: url(/img/common/icon_follow.png) 0 0 no-repeat;
}

.link_connect {
  background: url(/img/common/icon_follow.png) 0 0 no-repeat;
}

.link_message {
  background: url(/img/common/icon_mail.png) 0 0 no-repeat;
}

.profile-title-metadata {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 0;
}

.profile-title-metadata-box1 {
  line-height: 20px;
  box-sizing: border-box;
  width: 330px;
  border-right: 1px solid #e5e8eb;
}

.profile-title-metadata-box1 .sns-area {
  margin-top: 10px;
}

.profile-title-metadata-box1 .sns-area a {
  margin-right: 2px;
}

.profile-title-metadata-box1 .locale {
  padding-left: 17px;
  color: #bbb;
  background: url(/img/common/icon_locate.png) 0 center no-repeat;
}

.profile-title-metadata-box2 {
  box-sizing: border-box;
  width: 190px;
  padding-left: 20px;
}

.profile-title-metadata-box2 dt {
  font-size: 8px;
  color: #bbb;
}

.profile-title-metadata-box2 dd {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding: 7px 0;
}

.sub-profile-box {
  box-sizing: border-box;
  margin-top: 10px;
  padding:0 13px;
  background: #fff;
}

.sub-profile-box h3 {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height:18px;
  padding: 18px 33px 18px 0;
  margin: 0;
}

.sub-profile-box h3 img{
  vertical-align: middle;
}

.sub-profile-box h3:before{
  content:"";
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width:8px;
  height:5.5px;
  background:url(/sp/img/profile/arrow_select.png) center center no-repeat;
  background-size:cover;
}

.sub-profile-box.active h3:before{
  background-image:url(/sp/img/profile/arrow_select_open.png);
}

.sub-profile-box h3 div {
  font-size: 16px;
  font-weight:normal;
}

.sub-profile-box h3 div span {
  font-size: 14px;
  color: #bbb;
}

.pop_up {
  position: relative;
  display: inline-block;
  width:18px;
  height:18px;
  cursor: pointer;
  padding-left: 0;
}

.pop_up.active:after {
  content:"";
  position: absolute;
  top:12px;
  left: 50%;
  margin-left:-10px;
  width: 0;
  height: 0;
  pointer-events: none;
  border: solid transparent;
  border-width: 10px;
  border-color: rgba(102, 215, 219, 0);
  border-bottom-color: #66d7db;
}

.pop_up .pop_message {
  font-size: 12px;
  line-height: 22px;
  position: absolute;
  z-index: 2;
  top: 32px;
  left: -50px;
  display: none!important;
  box-sizing: border-box;
  width: 220px;
  padding: 16px 20px;
  text-align: left;
  color: #fff;
  background: #66d7db;
}

.sub-profile-connection-ttl .pop_up .pop_message{
  right:-30px;
  left:auto;
}

.pop_up.active .pop_message{
  display: block!important;
}
.pop_message:after{display: none!important;}

.slide-box{
  display: none;
  border-top:1px solid #e5e8eb;
}

.slide-box-content{
  padding:18px 0 22px;
  border-bottom:1px solid #e5e8eb;
}

.slide-box-btn{
  display: block;
  cursor: pointer;
  height:40px;
  text-align: center;
}

.slide-box-btn span{
  line-height:40px;
  padding-right:28px;
  background:url(/sp/img/profile/arrow_select_open.png) right center no-repeat;
  background-size:8px 5.5px;
}

.bar-graph-list {
  line-height: 18px;
}

.bar-graph-list:after {
  content: "";
  display: block;
  clear: both;
}

.bar-graph-list dt {
  font-size: 12px;
  float: left;
  color: #444;
}

.bar-graph-list dd {
  font-size: 14px;
  margin: 0 0 10px;
  padding: 0;
}

.bar-graph-list dd p {
  font-weight: bold;
}

.bar-graph-list .progress {
  height: 20px;
  margin-top: 5px;
}

.bar-graph-list .progress.type01 {
  background: #73afc0;
}

.bar-graph-list .progress.type02 {
  background: #406175;
}

.bar-graph-list .progress.type03 {
  background: #13253e;
}

.bar-graph-list .progress.type04 {
  background: #7fd396;
}

.bar-graph-list .progress.type05 {
  background: #5e9574;
}

.bar-graph-list .progress.type06 {
  background: #1d3e37;
}

.sub-profile-connection {
  font-size: 12px;
  line-height: 18px;
}

.sub-profile-connection .slide-box-content{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sub-profile-connection .slide-box-content > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:37%;
  padding: 5px;
  text-align: center;
}
.sub-profile-connection .slide-box-content > div:first-child {
  width:26%;
}

.sub-profile-connection .slide-box-content > div > div {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  display: block;
}

.sub-profile-connection-ttl{
  display: block;
  position: relative;
  padding-right:16px;
  text-align: center;
}
.sub-profile-connection .pop_up {
  position: absolute;
  right: 0;
  top: 1px;
  display:block;
  width: 13px;
  height: 13px;
}

.sub-profile-connection .pop_up img {
  width: 13px;
  height: 13px;
}

.sub-profile-fee .flex{
  padding-bottom:18px;
  margin-bottom:20px;
  border-bottom:1px solid #e5e8eb;
}

.sub-profile-fee .flex div{
  line-height:23px;
  height:23px;
}

.sub-profile-fee .flex div + div{
  font-size:23px;
}

.sub-profile-fee .flex div span.txt_gray{
  font-size:14px;
  line-height:23px;
  font-weight: bold;
  margin-left:2px;
}

.sub-profile-box section h4{
  font-size:14px;
  line-height:24px;
  margin-bottom: 3px;
}

.sub-profile-box section h4 span {
  color: #bbb;
  font-size:12px;
  margin-right:3px;
}

.sub-profile-box section p{
  font-size:14px;
  line-height:24px;
}

.slide-box .pop_up{
  width:13px;
  height: 13px;
}
