@charset "UTF-8";
html { width: 100%; height: 100%; font-size: 62.5%; }

body { width: 100%; min-width: 96rem; height: 100%; margin: 0; padding: 0; line-height: 1.4; color: #333; font-size: 1.4rem; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS Pゴシック", "MS PGothic",sans-serif; background: #ecf1f2; }
body.noscroll { position: fixed; overflow-y: scroll; }

p { margin: 0; }

ul, li { margin: 0; padding: 0; list-style: none; }

img { vertical-align: bottom; }

#wrapper { display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: stretch; align-items: stretch; -webkit-flex-direction: column; flex-direction: column; box-sizing: border-box; min-height: 100%; padding-top: 5rem; }
#wrapper.bg-white { background: #fff; }

#content { box-sizing: border-box; min-width: 96rem; max-width: 108rem; }

.btn_balloon { position: relative; }

input[type="tel"], input[type="search"], input[type="text"], input[type="email"], button, select { height: 3.3rem; }

input, button, textarea, select { -webkit-appearance: none; -moz-appearance: none; appearance: none; box-sizing: border-box; padding: 0 .8rem; border-top: none; border-left: none; border-right: .1rem solid #e5e8eb; border-bottom: .1rem solid #e5e8eb; border-radius: 0; }
input.first, button.first, textarea.first, select.first { border-left: .1rem solid #e5e8eb; }
input.firstRow, button.firstRow, textarea.firstRow, select.firstRow { border-top: .1rem solid #e5e8eb; }

button { background-color: transparent; border: none; cursor: pointer; outline: none; padding: 0; appearance: none; }

input[type="radio"], input[type="checkbox"]:not(.setting_item_alert_switch) { display: none; }
input[type="radio"] + label, input[type="checkbox"]:not(.setting_item_alert_switch) + label { position: relative; height: 3rem; padding-left: 2.5rem; line-height: 3rem; }
input[type="radio"] + label:before, input[type="radio"] + label:after, input[type="checkbox"]:not(.setting_item_alert_switch) + label:before, input[type="checkbox"]:not(.setting_item_alert_switch) + label:after { content: ""; position: absolute; top: 0; bottom: 0; left: 0; margin: auto; transition: opacity .1s; }
input[type="radio"] + label:before, input[type="checkbox"]:not(.setting_item_alert_switch) + label:before { border: .1rem solid #bbb; width: 1.3rem; height: 1.3rem; }
input[type="radio"] + label:after, input[type="checkbox"]:not(.setting_item_alert_switch) + label:after { width: 1.1rem; height: 1.1rem; left: .2rem; background: #44d095; opacity: 0; }
input[type="radio"]:checked + label:after, input[type="checkbox"]:not(.setting_item_alert_switch):checked + label:after { opacity: 1; }

input[type="radio"] + label:before, input[type="radio"] + label:after { border-radius: 100%; }

select { background: #fff; color: #bbb; }
select option { color: #333; }
select option[disabled] { color: #bbb; }

textarea { width: 100%; border: none; min-height: 7rem; resize: none; vertical-align: bottom; }

:placeholder-shown { color: #bbb; }

::-webkit-input-placeholder { color: #bbb; }

:-moz-placeholder { color: #bbb; opacity: 1; }

::-moz-placeholder { color: #bbb; opacity: 1; }

:-ms-input-placeholder { color: #bbb; }

body .select2-container--default .select2-selection--single .select2-selection__placeholder { color: #bbb; }

.select2-container--default .select2-selection--single .select2-selection__rendered { color: #bbb; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered { vertical-align: bottom; }

.select2-dropdown .select2-results .select2-results__options { max-height: 20rem; overflow-y: auto; font-size: 1.1rem; }
.select2-dropdown .select2-results .select2-results__option--highlighted { background: #fff; color: #333; display: none; }
.select2-dropdown .select2-results .select2-results__option--highlighted[aria-selected] { display: block; background: #eee; }

.select2-dropdown { border: .1rem solid #e5e8eb; font-family: "Gill Sans", "Gill Sans MT", Lato, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS Pゴシック", "MS PGothic",sans-serif; }

.select2 li + li :placeholder-shown { color: #333; }
.select2 li + li ::-webkit-input-placeholder { color: #333; }
.select2 li + li :-moz-placeholder { color: #333; opacity: 1; }
.select2 li + li ::-moz-placeholder { color: #333; opacity: 1; }
.select2 li + li :-ms-input-placeholder { color: #333; }

.select2-container input[type="search"] { -webkit-appearance: none; appearance: none; border-color: #e5e8eb !important; }

.select2-selection__clear { display: none; }

.select2-container .select2-selection input { min-width: 14rem; }

.select2-container .select2-search--inline .select2-search__field { margin-top: 0; }

body > .select2-container { z-index: 1200; }

.select2-selection__arrow { display: none; }

.header { position: fixed; top: 0; left: 0; z-index: 999; width: 100%; min-width: 108rem; background: #102532; }
.header_inner { display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: center; align-items: center; min-width: 96rem; max-width: 108rem; }
.header_logo { display: block; width: 17rem; margin-left: 1rem; transition: opacity .2s; }
.header_logo:hover { opacity: .7; }
.header_nav { display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; }
.header_nav_prof { display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: center; align-items: center; width: 19.9rem; height: 4rem; padding: .5rem 1.2rem .5rem .9rem; background: #545c61; }
.header_nav_prof_wrap { display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; text-decoration: none; }
.header_nav_prof_icon { position: relative; width: 3rem; height: 3rem; margin-right: 1rem; border-radius: 100%; overflow: hidden; }
.header_nav_prof_icon img { position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.header_nav_prof_name { max-width: 13rem; max-height: 4rem; font-size: 1.1rem; color: #fff; font-weight: bold; }
.header_nav_prof_setting { position: relative; display: block; width: 1.6rem; height: 1.6rem; background: url(/img/common/btn_gear.png) center center no-repeat; cursor: pointer; }
.header_nav_prof_setting:hover { background-image: url(/img/common/btn_gear-selected.png); }
.header_nav_prof_setting_balloon { position: absolute; top: 3rem; right: -1.9rem; display: none; width: 9rem; border: .1rem solid #bbb; cursor: default; background: #fff; line-height: 2.3rem; font-size: 1.2rem; padding: .3rem .5rem; }
.header_nav_prof_setting_balloon a { text-decoration: none; color: #333; }
.header_nav_prof_setting_balloon:before, .header_nav_prof_setting_balloon:after { bottom: 100%; left: 7.6rem; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.header_nav_prof_setting_balloon:before { border-color: transparent; border-bottom-color: #bbb; border-width: .7rem; margin-left: -.7rem; }
.header_nav_prof_setting_balloon:after { border-color: transparent; border-bottom-color: #fff; border-width: .6rem; margin-left: -.6rem; }
.header_nav_prof_setting_balloon.isOpen { display: block; }

.nav { display: -webkit-flex; display: flex; }
.nav_item_target { position: relative; display: block; width: 5rem; height: 5rem; cursor: pointer; }
.nav_item_target:hover > img { opacity: .7; }
.nav_item_target:hover .nav_item_label { display: block; }
.nav_item_label { display: none; position: fixed; background: #e5e8eb; padding: .4rem .8rem; position: absolute; z-index: 100; top: 4rem; left: 0; font-size: 1rem; color: #333; }
.nav_item_icon { position: absolute; top: .4rem; right: .6rem; z-index: 100; display: block; margin: auto; font-size: 1rem; line-height: 1.3rem; text-align: center; color: #fff; width: 1.3rem; height: 1.3rem; background: #44d095; border-radius: 100%; }

.alert { position: absolute; top: 100%; right: 0; z-index: 1; display: none; width: 34rem; margin-top: 1rem; cursor: auto; border: .1rem solid #bbb; background: #fff; }
.alert:before { content: ""; position: absolute; left: 5rem; bottom: 100%; height: 0; width: 0; margin-top: 1rem; margin-left: 26rem; border: .7rem solid transparent; border-bottom-color: #bbb; pointer-events: none; }
.alert.isOpen { display: block; }
.alert_head { display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: cener; align-items: cener; box-sizing: border-box; width: 100%; height: 3.6rem; padding: 1rem; border-bottom: .1rem solid #ddd; font-size: 1.1rem; }
.alert_head_ttl { font-weight: bold; }
.alert_head_setting a { text-decoration: none; color: #333; }
.alert_content { overflow-x: scroll; height: 35.4rem; }
.alert_content_item { display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; box-sizing: border-box; width: 100%; padding: 1rem 1.5rem; text-decoration: none; color: #333; border-bottom: .1rem solid #ddd; font-size: 1.1rem; cursor: pointer; }
.alert_content_item.isNew { background: #edfbfc; }
.alert_content_item:hover { background: #eee; }
.alert_content_item_thumb { width: 4rem; height: 4rem; border-radius: 100%; overflow: hidden; }
.alert_content_item_msg { margin-left: .7rem; }
.alert_content_item_msg span { font-weight: bold; }
.alert_btn { display: block; height: 3rem; text-align: center; line-height: 3rem; color: #fff; font-size: 1.2rem; text-decoration: none; background: #22313d; }

.footer { padding: 1.4rem 0 1.4rem 16rem; border-top: .1rem solid #bbb; margin-top: 1.5rem; font-size: 11px; line-height: 19px; text-align: center; }
.footer_inner { min-width: 80rem; max-width: 92rem; }
.footer_item { display: inline-block; color: #aeafaf; text-decoration: none; margin: 0 .8rem; }
.footer_copy { color: #c7c8c9; }

body.wide .footer { margin-left: 16rem; }
body.wide .footer_inner { max-width: 75rem; }

.side { position: fixed; z-index: 600; top: 0; left: 0; display: -webkit-flex; display: flex; box-sizing: border-box; height: 100%; padding-top: 5rem; font-size: 1.1rem; font-family: "Gill Sans", "Gill Sans MT", Lato, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS Pゴシック", "MS PGothic",sans-serif; }
.side_ttl { height: 4.2rem; padding-left: 3.6rem; margin: 0; line-height: 4.2rem; background-position: 1.2rem center; background-repeat: no-repeat; color: #bbb; }
.side_ttl.prof { background-image: url(/img/knowledge/ttl_side_knowledge.png); }
.side_subTtl { padding-left: .9rem; margin: 3rem 0 1rem; color: #5b6876; line-height: 1em; }
.side_list_item_target { position: relative; display: block; padding: 1.3rem 0 1.3rem 1.2rem; color: #fff; line-height: 1.4rem; text-decoration: none; font-family: "Gill Sans", "Gill Sans MT", Lato, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS Pゴシック", "MS PGothic",sans-serif; transition: opacity .1s; }
.side_list_item_target.isSelected { border-left: 0.4rem solid #44d095; padding-left: .8rem; }
.side_list_item_target:hover { opacity: .7; }

.sideLeft, .sideRight { width: 16rem; }

.sideLeft { padding-top: 2rem; background: #333f49; }

.sideRight { padding-top: 6.2rem; background: #212931; }

.headline { position: relative; box-sizing: border-box; min-width: 96rem; max-width: 108rem; padding-top: 3.5rem; padding-left: 16rem; }
.headline_inner { max-width: 92rem; }
.headline:before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; width: 100%; height: 100%; background: #fff; }
.headline.single { padding-bottom: 4.5rem; }

.ttl { width: 62rem; margin: 0 auto; }
.ttl_summary { color: #bbb; font-weight: bold; font-family: "Gill Sans", "Gill Sans MT", Lato, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS Pゴシック", "MS PGothic",sans-serif; }
.ttl_main { border-bottom: .1rem solid #e5e8eb; margin: 0; font-size: 1.8rem; line-height: 3.6rem; }

.btn_balloon { position: relative; }

.contact { position: fixed; right: 1rem; bottom: -20rem; z-index: 500; width: 38rem; font-size: 1.3rem; transition: bottom .2s; }
.contact.isOpen { bottom: 0; }
.contact.isOpen .contact_head:after { background-image: url(/img/common/arrow_open.png); background-repeat: no-repeat; }
.contact_head { position: relative; display: block; height: 3.1rem; padding-left: 1.7rem; line-height: 3.5rem; font-weight: bold; color: #fff; background: #76d2e3; font-family: "Gill Sans", "Gill Sans MT", Lato, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS Pゴシック", "MS PGothic",sans-serif; cursor: pointer; }
.contact_head:after { content: ""; position: absolute; width: .8rem; height: .6rem; margin: auto; top: .2rem; bottom: -.2rem; right: 1.7rem; background: url(/img/common/arrow_close.png) no-repeat; }
.contact_content { height: 19.6rem; border: 0.4rem solid #76d2e3; font-size: 1.3rem; background: #fff; }
.contact_content.isSend { position: relative; }
.contact_content.isSend:after { content: "Thank you for your cooperation."; position: absolute; top: 0; left: 0; display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; width: 100%; height: 100%; font-weight: bold; background: #fff; }
.contact textarea { box-sizing: content-box; outline: none; width: 34.4rem; padding: 2.2rem 1.4rem 1rem; height: 13.4rem; }
.contact input[type="submit"] { display: block; width: 36rem; height: 2.5rem; line-height: 2.5rem; font-weight: bold; margin: 0 auto; color: #fff; font-size: 1.1rem; font-family: "Gill Sans", "Gill Sans MT", Lato, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS Pゴシック", "MS PGothic",sans-serif; background: #bbb; outline: none; }

.modal { width: 50rem; background: #fff; cursor: default; font-size: 1.4rem; /* @include e(search){ position: relative; padding-left: 1.8rem; margin-bottom: .8rem; input[type="text"]{ width: 100%; height: 1.7rem; padding-left: .6rem; border: none; font-size: 1.2rem; @include ff; } @include e(btn){ position: absolute; top: 0; left: 0; width: 1.7rem; height: 1.7rem; background: url(/sp/img/common/icon_search.png) center center no-repeat; background-size: 1.5rem; input[type="submit"]{ position: absolute; width:100%; height: 100%; border: none; top: .1rem; left: 0; opacity: 0; } }//btn }//search
*/ }
.modal.modalSearch { padding: 3.5rem 6rem 0; }
.modal_ttl { margin-top: 0; margin-bottom: 2rem; font-size: 1.4rem; font-weight: bold; text-align: center; }
.modal_toggleBtn { display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; width: 100%; height: 4.5rem; border-top: .1rem solid #e5e8eb; cursor: pointer; }
.modal_toggleBtn:before { content: "DETAIL"; padding-right: 3rem; font-family: "Gill Sans", "Gill Sans MT", Lato, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS Pゴシック", "MS PGothic",sans-serif; font-size: 1.3rem; font-weight: bold; color: #bbb; background: url(/img/common/arrow_select.png) right center no-repeat; }
.modal.isOpen .modal_toggleBtn:before { content: "CLOSE"; background-image: url(/img/common/arrow_select_open.png); }
.modal_search { display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; height: 3.4rem; margin-bottom: 2rem; line-height: 3.4rem; }
.modal_search input[type="text"] { width: 42rem; padding: 0 .8rem; border: .1rem solid #e5e8eb; }
.modal_search input[type="submit"] { width: 7rem; background: #44d095; color: #fff; font-weight: bold; text-align: center; }
.modal_search_content { display: none; margin-bottom: 4rem; }
.modal_search_content_subTtl { display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: center; align-items: center; height: 3.2rem; margin-bottom: 2.2rem; font-weight: bold; border-bottom: .1rem solid #e5e8eb; }
.modal_search_content_subTtl_addBtn { display: block; padding-left: 2.3rem; font-weight: normal; font-size: 1.2rem; color: #bbb; text-decoration: none; line-height: 1.8rem; background: url(/img/common/icon_add.png) left center no-repeat; }
.modal_search_content_row { display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; margin-bottom: .9rem; }
.modal_search_content_row_head { width: 12rem; padding-right: 1.5rem; font-size: 1.2rem; font-weight: bold; text-align: right; }
.modal_search_content_row_select2 + .select2-container { box-sizing: content-box; min-width: 36.1rem; max-width: 36.1rem; border: .1rem solid #e5e8eb; font-size: 1.3rem; position: relative; }
.modal_search_content_row_select2 + .select2-container.isOpen:after { background-image: url(/img/common/arrow_select_open.png); }
.modal_search_content_row_select2 + .select2-container:after { content: ""; position: absolute; top: 0; bottom: 0; right: .8rem; width: .9rem; height: .6rem; margin: auto; background: url(/img/common/arrow_select.png) center center no-repeat; }
.modal_search_content_row_select2 + .select2-container.select2-container--open { position: relative; }
.modal_search_content_row_select2 + .select2-container.select2-container--open:after { background: url(/img/common/arrow_select_open.png) center center no-repeat; }
.modal_search_content_row_select2 + .select2-container .select2-selection { box-sizing: border-box; width: 100%; height: auto; min-height: 3.1rem; border: none !important; border-radius: 0; border-left: none; padding-right: 1.8rem; vertical-align: bottom; }
.modal_search_content_row_select2 + .select2-container .select2-selection input { margin-top: 0; padding-left: .3rem; }
.modal_search_content_row_select2 + .select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 3.1rem; }
.modal_search_content_row_select2.first + .select2-container { border-left: .1rem solid #e5e8eb; }
.modal_search_content_row_select2.short + .select2-container { box-sizing: content-box; min-width: 20.1rem; max-width: 20.1rem; border: .1rem solid #e5e8eb; font-size: 1.3rem; position: relative; }
.modal_search_content_row_select2.short + .select2-container.isOpen:after { background-image: url(/img/common/arrow_select_open.png); }
.modal_search_content_row_select2.short + .select2-container:after { content: ""; position: absolute; top: 0; bottom: 0; right: .8rem; width: .9rem; height: .6rem; margin: auto; background: url(/img/common/arrow_select.png) center center no-repeat; }
.modal_search_content_row_select2.short + .select2-container.select2-container--open { position: relative; }
.modal_search_content_row_select2.short + .select2-container.select2-container--open:after { background: url(/img/common/arrow_select_open.png) center center no-repeat; }
.modal_search_content_row_select2.short + .select2-container .select2-selection { box-sizing: border-box; width: 100%; height: auto; min-height: 3.1rem; border: none !important; border-radius: 0; border-left: none; padding-right: 1.8rem; vertical-align: bottom; }
.modal_search_content_row_select2.short + .select2-container .select2-selection input { margin-top: 0; padding-left: .3rem; }
.modal_search_content_row_select2.short + .select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 3.1rem; }
.modal_search_content_row_select2.short.first + .select2-container { border-left: .1rem solid #e5e8eb; }
.modal_search_content_row_select { width: 20.3rem; position: relative; border-top: .1rem solid #e5e8eb; border-left: .1rem solid #e5e8eb; }
.modal_search_content_row_select select { box-sizing: border-box; width: 100%; height: 3.3rem; padding: 0 2.3rem 0 1rem; }
.modal_search_content_row_select:before { content: ""; position: absolute; top: 0; bottom: 0; right: 1.2rem; width: .9rem; height: .6rem; margin: auto; background: url(/sp/img/common/arrow_select.png) center center no-repeat; background-size: cover; }
.modal_search_content_row_select.short { width: 15rem; margin-left: 1rem; }
.modal_search_content_row_select.mini { position: relative; border-top: .1rem solid #e5e8eb; border-left: .1rem solid #e5e8eb; width: 7rem; }
.modal_search_content_row_select.mini select { box-sizing: border-box; width: 100%; height: 3.3rem; padding: 0 2.3rem 0 1rem; }
.modal_search_content_row_select.mini:before { content: ""; position: absolute; top: 0; bottom: 0; right: 1.2rem; width: .9rem; height: .6rem; margin: auto; background: url(/sp/img/common/arrow_select.png) center center no-repeat; background-size: cover; }
.modal_search_content_submit { display: block; width: 20rem; height: 3rem; margin: 3rem auto 0; line-height: 3rem; color: #fff; text-align: center; background: #44d095; }
.modal_select + .select2-container { box-sizing: border-box; min-width: 100%; max-width: 100%; border: .1rem solid #e5e8eb; font-size: 1.3rem; position: relative; }
.modal_select + .select2-container.isOpen:after { background-image: url(/img/common/arrow_select_open.png); }
.modal_select + .select2-container:after { content: ""; position: absolute; top: 0; bottom: 0; right: .8rem; width: .9rem; height: .6rem; margin: auto; background: url(/img/common/arrow_select.png) center center no-repeat; }
.modal_select + .select2-container.select2-container--open { position: relative; }
.modal_select + .select2-container.select2-container--open:after { background: url(/img/common/arrow_select_open.png) center center no-repeat; }
.modal_select + .select2-container .select2-selection { box-sizing: border-box; width: 100%; height: auto; min-height: 3.1rem; border: none !important; border-radius: 0; border-left: none; padding-right: 1.8rem; vertical-align: bottom; }
.modal_select + .select2-container .select2-selection input { margin-top: 0; padding-left: .3rem; }
.modal_select + .select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 3.1rem; }
.modal_select.first + .select2-container { border-left: .1rem solid #e5e8eb; }
.modal_select.second + .select2-container { box-sizing: border-box; min-width: 100%; max-width: 100%; border: .1rem solid #e5e8eb; border-top: none; font-size: 1.3rem; position: relative; }
.modal_select.second + .select2-container.isOpen:after { background-image: url(/img/common/arrow_select_open.png); }
.modal_select.second + .select2-container:after { content: ""; position: absolute; top: 0; bottom: 0; right: .8rem; width: .9rem; height: .6rem; margin: auto; background: url(/img/common/arrow_select.png) center center no-repeat; }
.modal_select.second + .select2-container.select2-container--open { position: relative; }
.modal_select.second + .select2-container.select2-container--open:after { background: url(/img/common/arrow_select_open.png) center center no-repeat; }
.modal_select.second + .select2-container .select2-selection { box-sizing: border-box; width: 100%; height: auto; min-height: 3.1rem; border: none !important; border-radius: 0; border-left: none; padding-right: 1.8rem; vertical-align: bottom; }
.modal_select.second + .select2-container .select2-selection input { margin-top: 0; padding-left: .3rem; }
.modal_select.second + .select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 3.1rem; }
.modal_select.second.first + .select2-container { border-left: .1rem solid #e5e8eb; }
.modal_fileAdd { position: relative; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; height: 3.3rem; border: .1rem solid #e5e8eb; border-top: none; color: #bbb; }
.modal_fileAdd:before { content: ""; width: 1.5rem; height: 1.1rem; margin-right: .5rem; background: url(/sp/img/common/icon_picture.png) center no-repeat; background-size: cover; }
.modal_fileAdd input[type="file"] { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; }
.modal_submit { display: block; width: 100%; height: 4.4rem; border-radius: .3rem; font-size: 1.2rem; line-height: 4.4rem; color: #fff; text-align: center; }
.modal_cancel { display: block; width: 100%; height: 4.4rem; border-radius: .3rem; font-size: 1.2rem; line-height: 4.4rem; color: #fff; text-align: center; }
.modal_submit { margin-top: 2.4rem; background: #44d095; }
.modal_cancel { margin-top: 1.2rem; background: #bbb; }
.modal_cancel.small { width: 46%; height: 3.3rem; border-radius: .2rem; margin: 0 auto; line-height: 3.3rem; }
.modal_cancel.block { width: 15.5rem; height: 4.3rem; margin: 2.8rem auto 0; line-height: 4.3rem; }
.modal_center { position: relative; text-align: center; }
.modal_snsLogin { padding-top: 1.6rem; border-top: .1rem solid #e5e8eb; margin-top: 2.7rem; font-size: 1.2rem; text-align: center; }
.modal_snsLogin_ttl { margin-bottom: .5rem; font-weight: bold; font-size: 1.4rem; }
.modal_snsLogin_btn { display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; margin-top: 2.8rem; }
.modal_snsLogin_btn a { display: block; width: 32%; }
.modal_snsLogin_faq { position: relative; display: inline-block; margin-top: 1.2rem; line-height: 1.4rem; cursor: pointer; }
.modal_snsLogin_faq + .faqBox { display: none; }
.modal_snsLogin_faq.isOpen:after { content: ""; position: absolute; z-index: 1; top: 100%; left: 50%; margin-top: -1.5rem; margin-left: -1.5rem; border: 1.5rem solid transparent; border-bottom-color: #66d7db; }
.modal_snsLogin_faq.isOpen + .faqBox { position: absolute; z-index: 1; top: 100%; left: -3.19%; display: block; box-sizing: border-box; width: 100vw; padding: 2rem 1.5rem; margin-top: 1.3rem; margin-left: -1.6rem; color: #fff; font-weight: normal; font-size: 1.4rem; line-height: 1.9rem; background: #66d7db; box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.59); }
.modal_snsLogin_faq img { vertical-align: bottom; margin-left: .3rem; }
.modal_snsLogin_new { display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: center; align-items: center; padding-top: 1.5rem; border-top: .1rem solid #e5e8eb; margin-top: 1.5rem; }
.modal_snsLogin_new a { font-size: 1.1rem; color: #44d095; }
.modal_checkBox { margin-top: 1.2rem; }
.modal_checkBox input[type="checkbox"] + label { position: relative; padding-left: 29px; }
.modal_checkBox input[type="checkbox"] + label:before, .modal_checkBox input[type="checkbox"] + label:after { content: ""; position: absolute; top: 0; bottom: 0; margin: auto; }
.modal_checkBox input[type="checkbox"] + label:before { left: 0; width: 1.4rem; height: 1.4rem; border: .1rem solid #e5e8eb; }
.modal_checkBox input[type="checkbox"]:checked + label:after { left: .3rem; width: 1rem; height: 1rem; background: #44d095; }

#lean_overlay { position: fixed; z-index: 1000; top: 0; left: 0; display: none; width: 100%; height: 100%; background: #ecf1f2; }

#modalSearch { display: none; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; position: fixed; z-index: 1100; right: 0; top: 0; bottom: 0; left: 0; margin: auto; cursor: pointer; /* .select2-selection.select2-selection--multiple{ padding-right: 0; } .select2-search--inline .select2-search__field{ min-width: 60vw; } .form_sep2_50 + .select2-container .select2-selection input{ min-width: 100%!important; }
*/ }

.tabs_content_item { display: none; }
.tabs_content_item.def { display: block; }
