.center{
  text-align: center;
}
.static {
  margin-bottom:100px;
}
.static-title-section {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.static-title {
  display: inline-block;
  margin: 70px auto 0;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  color: rgb(51, 63, 73);
  border-bottom: 5px solid rgb(68, 208, 149);
}
.static-container {
  margin: 50px auto;
  width: 780px;
  display: block;
  padding: 50px 60px;
  background-color: #ffffff;
  box-shadow: 10px 10px rgb(225, 230, 231);
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 12px;
}
.static-container h2 {
  margin-top: 35px;
  font-size: 16px;
}
.static-container h3 {
  margin-top: 10px;
  font-size: 12px;
  text-decoration: underline;
  font-style: italic;
}
.static-container p {
  margin-top: 20px;
}
.static-container h2  +  p,
.static-container h3  +  p {
  margin-top: 10px;
}
.static-container p.is-italic {
  font-style: italic;
}
.static-container a {
  text-decoration: underline;
}
.static-container ul {
  margin-top: 20px;
  margin-left: 20px;
}
.pl10{
  padding-left: 10px;
}
/*******ヘッダー********/

#header .innerBox{
  max-width: 100%;
}
#header .innerBox .signup{
  float:right;
  margin-right: 45px;
  margin-top: 9px;
}
#header .innerBox .signup li{
  float:left;
  width:130px;
  margin-left:15px;
  border:1px solid #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-align:center;
  height:30px;
}
#header .innerBox .signup li a{
  text-align:center;
  color:#ffffff;
  line-height:30px;
  display:block;
}
#header .innerBox .signup .btn_sign{
  background:#44d095;
}
.login_head{
  background:url(../../img/login/bg_mv.png) center no-repeat!important;
  height:640px;
  background-color:#ffffff;
}

/* footer */
.content_inner {
  width: 960px;
  margin:0 auto;
}
footer {
  text-align: left;
  font-size: 16px;
  line-height: 1;
}
.footer{
  background:#161c20;
  padding:40px 0 15px;
  overflow:hidden;
  max-width: 100%;
}
#footer_section{
  overflow:hidden;
}
#footer_section dl{
  margin:0 35px;
  float:left;
}
#footer_section dl a:hover {
  color: #44d095;
}

#footer_section dl dt{
  margin-bottom:15px;
}
#footer_section dl dt a{
  color:#ffffff;
  font-size:14px;
}
#footer_section dl li a{
  color:#ffffff;
  font-size:14px;
  margin-bottom:15px;
}
#footer_section dl li{
  margin-bottom:10px;
}
#copy{
  margin-top:45px;
  color:#ffffff;
  text-align:center;
  border-top:1px solid #333f49;
  padding-top:10px;
  clear:both;
  font-size:11px;
}