// ==================================================================
// 言語ページ
// ==================================================================

//----------------------------------------------------
// 言語ページのみのスタイル
//----------------------------------------------------

.form_table.form_language {
  dl {
    padding: 10px 20px;
  }
  dt {
    width: 180px;
  }
  .select-input-box {
    background: #fff;
    padding: 5px 0 0;
    .select2-search__field {
      padding-top: 5px;
      width: auto !important;
    }
  }
}