@import '_mixin';

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    min-width: 108rem;
    background: #102532;
    @include e(inner){
        @include flex($j: space-between, $a: center);
        min-width: 96rem;
        max-width: 108rem;
    }
    @include e(logo){
        display: block;
        width: 17rem;
        margin-left: 1rem;
        transition: opacity .2s;
        &:hover{
            opacity: .7;
        }
    }
    @include e(nav){
        @include flex($a: center);
        @include e(prof){
            @include flex($a:center, $j:space-between);
            width: 19.9rem;
            height: 4rem;
            padding: .5rem 1.2rem .5rem .9rem;
            background: #545c61;
            @include e(wrap){
                @include flex($a:center);
                text-decoration: none;
            }
            @include e(icon){
                position: relative;
                width: 3rem;
                height: 3rem;
                margin-right: 1rem;
                border-radius: 100%;
                overflow: hidden;
                img{
                    position: absolute;
                    width: 100%;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }//icon
            @include e(name){
                max-width: 13rem;
                max-height: 4rem;
                font-size: 1.1rem;
                color: #fff;
                font-weight: bold;
            }
            @include e(setting){
                position: relative;
                display: block;
                width: 1.6rem;
                height: 1.6rem;
                background: url(/img/common/btn_gear.png) center center no-repeat;
                cursor: pointer;
                &:hover{
                    background-image: url(/img/common/btn_gear-selected.png);
                }
                @include e(balloon){
                    @include balloon($top:3rem, $w:9rem);
                    padding: .3rem .5rem;
                }
            }//setting
        }//prof
    }//nav
}//header

.nav{
    @include flex;
    @include e(item){
        @include e(target){
            position: relative;
            display: block;
            width: 5rem;
            height: 5rem;
            cursor: pointer;
            &:hover{
                >img{opacity: .7};
                .nav_item_label{display: block;}
            }
        }
        @include e(label){
            display: none;
            position: fixed;
            background: #e5e8eb;
            padding: .4rem .8rem;
            position: absolute;
            z-index: 100;
            top: 4rem;
            left: 0;
            font-size: 1rem;
            color: #333;
        }
        @include e(icon){
            position: absolute;
            top: .4rem;
            right: .6rem;
            z-index: 100;
            display: block;
            margin: auto;
            font-size: 1rem;
            line-height: 1.3rem;
            text-align: center;
            color: #fff;
            width: 1.3rem;
            height: 1.3rem;
            background: $green;
            border-radius: 100%;
        }
    }//item
}