$green: #44d095;

@mixin e($names...){
    @each $name in $names{
        @at-root &_#{$name} {
            @content;
        }
    }
}

@mixin m($names...){
    @each $name in $names{
        @at-root &.#{$name} {
            @content;
        }
    }
}

@mixin resize($min:96rem, $max:108rem, $c:1, $ttl:62rem){
    min-width: $min;
    #content{
        padding-left: 16rem * $c;
        min-width: $min;
        max-width: $max;
    }
    .header{
        min-width: $min;
        @include e(inner){
            min-width: $min;
            max-width: $max;
        }
    }
    .headline{
        min-width: $min;
        max-width: $max;
        padding-left: 16rem * $c;
        @include e(inner){
            max-width: $max - 16rem * $c;
        }
        .ttl{
            width: $ttl;
        }
        @include e(back){
            width: $ttl
        }
    }
    .footer{
        padding-left: 16rem * $c;
    }
    .footer_inner{
        min-width: $min - 16rem * $c;
        max-width: $max - 16rem * $c;
    }
}

@mixin ff{
    font-family: "Gill Sans", "Gill Sans MT", Lato, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial, "メイリオ", Meiryo, Osaka, "MS Pゴシック", "MS PGothic",sans-serif;
}

@mixin reset{
    margin: 0;
    padding: 0;
}

@mixin texthide{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin flex($j:false, $a:false, $w:false, $d:false){
    display:-webkit-flex;
    display:flex;
    @if $j != false{
        -webkit-justify-content: $j;
        justify-content: $j;
    }
    @if $a != false{
        -webkit-align-items: $a;
        align-items: $a;
    }
    @if $w != false{
        -webkit-flex-wrap: $w;
        flex-wrap: $w;
    }
    @if $d != false{
        -webkit-flex-direction: $d;
        flex-direction: $d;
    }
}

@mixin border($b:false){
    @if $b != false {
        border-#{$b}: .1rem solid #e5e8eb;
    }
    @else{
        border: .1rem solid #e5e8eb;
    }
}

@mixin arrow($pos: .8rem){
    position: relative;
    @include m(isOpen){
        &:after{
            background-image: url(/img/common/arrow_select_open.png);
        }
    }
    &:after{
        content: "";
        position: absolute;
        top:0;
        bottom:0;
        right: $pos;
        width: .9rem;
        height: .6rem;
        margin: auto;
        background: url(/img/common/arrow_select.png) center center no-repeat;
    }
}

@mixin select2($w:100%,$m:false,$h:3.3rem,$tags:false,$t:true,$l:false,$mr:false,$box-sizing: content-box, $clear: false, $ff:false){
    @at-root & + .select2-container {
        box-sizing: $box-sizing;
        min-width: $w;
        max-width: $w;
        @if $clear == false{
            @include border;
            @if $l == false{
                border-left: none;
            }
            @if $t == false{
                border-top: none;
            }
            @if $tags == true {
                border: none;
            }
            @if $m != false{
                display: block;
                margin: $m 0;
            }
            @if $mr != false{
                margin-right: $mr;
            }
            @include arrow($pos:1.1rem);
        }
        font-size: 1.3rem;
        @if $ff != false{
            .select2-search__field{
                @include ff;
            }
        }
        &.select2-container--open{
            position: relative;
            &:after{
                background: url(/img/common/arrow_select_open.png) center center no-repeat;
            }
        }
        .select2-selection{
            box-sizing:border-box;
            width: 100%;
            height: auto;
            min-height: $h;
            border: none!important;
            border-radius:0;
            border-left: none;
            padding-right: 1.8rem;
            vertical-align: bottom;
            input{
                margin-top: 0;
                padding-left: .3rem;
            }
        }
    }
    @at-root & + .select2-container--default .select2-selection--single .select2-selection__rendered{
        line-height: $h;
    }
    @at-root &.first + .select2-container {
        @include border(left);
    }
}

@mixin select{
    position: relative;
    @include border(top);
    @include border(left);
    select{
        box-sizing: border-box;
        width: 100%;
        height: 3.4rem;
        padding: 0 2.3rem 0 1rem;
    }
    &:before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1.2rem;
        width: .9rem;
        height: .6rem;
        margin: auto;
        background: url(/sp/img/common/arrow_select.png) center center no-repeat;
        background-size: cover;
    }
}


@mixin input($type: text, $w: 100%){
    input[type="#{$type}"]{
        display: block;
        width: $w;
        height: 3.5rem;
        @include border;
    }
}

@mixin checkbox($font-size: 1.2rem, $size: 1.3rem, $height:3rem, $padding-left:2rem){
    display: none;
    +label{
        position: relative;
        display: block;
        height: $height;
        padding-left: $padding-left;
        font-size: $font-size;
        line-height: $height;
        &:before, &:after{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: opacity .1s;
        }
        &:before{
            left: 0;
            box-sizing: border-box;
            border: .1rem solid #bbb;
            width: $size;
            height: $size;
        }
        &:after{
            left: .2rem;
            width: #{$size - .4rem};
            height: #{$size - .4rem};
            background: $green;
            opacity: 0;
        }
    }
    &:checked{
        +label:after{
            opacity: 1;
        }
    }
}

@mixin radio($font-size: 1.2rem, $size: 1.3rem, $height:3rem, $padding-left:2rem){
    display: none;
    +label{
        position: relative;
        display: block;
        height: $height;
        padding-left: $padding-left;
        font-size: $font-size;
        line-height: $height;
        &:before, &:after{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            border-radius: 100%;
            margin: auto;
            transition: opacity .1s;
        }
        &:before{
            left: 0;
            box-sizing: border-box;
            border: .1rem solid #bbb;
            width: $size;
            height: $size;
        }
        &:after{
            left: .2rem;
            width: #{$size - .4rem};
            height: #{$size - .4rem};
            background: $green;
            opacity: 0;
        }
    }
    &:checked{
        +label:after{
            opacity: 1;
        }
    }
}



@mixin balloon($top:2.3rem, $right:-1.9rem, $w: 12rem, $blue: false, $left:7.6rem, $p: 1.5rem 1rem, $fz: 1.2rem, $lh: 2.3rem, $s: false){
    @if $blue == true{
        &:not(.balloon):hover{
            .balloon{
                display: block;
            }
        }
        .balloon{
            $bb: #66d7db;
            position: absolute;
            top: $top;
            @if $s == false{
                right: $right;
            }
            @else{
                right: #{$right - .8rem + $s/2};
            }
            z-index: 610;
            display: none;
            width: $w;
            padding: $p;
            line-height: $lh;
            font-size: $fz;
            color: #fff;
            font-weight: normal;
            background: $bb;
            &:before{
                content: "";
                position: absolute;
                bottom: 100%;
                right: #{.1rem - $right};
                height: 0;
                width: 0;
                border: .7rem solid transparent;
                border-bottom-color: $bb;
                margin-left: -.7rem;
                pointer-events: none;
            }
        }
    }
    @else{
        position: absolute;
        top: $top;
        right: $right;
        display: none;
        width: $w;
        border: .1rem solid #bbb;
        cursor: default;
        background: #fff;
        line-height: 2.3rem;
        font-size: 1.2rem;
        a{
            text-decoration: none;
            color: #333;
            &:hover{
                color: $green;
            }
        }
        &:before,
        &:after{
            bottom: 100%;
            left: $left;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:before{
            border-color: transparent;
            border-bottom-color: #bbb;
            border-width: .7rem;
            margin-left: -.7rem;
        }
        &:after{
            border-color: transparent;
            border-bottom-color: #fff;
            border-width: .6rem;
            margin-left: -.6rem;
        }
        @include m(isOpen){
            @include flex($d:column,$a:flex-start);
        }

    }
}


@mixin question($name: btn, $size: 1.6rem, $width: 20.4rem, $space: -6.5rem, $margin:false, $font-size: 1.2rem, $padding: 1.5rem 1rem, $line-height: 2.3rem){
    @include e(#{$name}){
        position: relative;
        display: block;
        width: $size;
        height: $size;
        @if $margin != false{
            margin: $margin;
        }
        border-radius: 100%;
        background: #66d7db;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #fff;
            text-align: center;
            background: url(/img/setting/question_icon_circle.png) center center no-repeat;
            background-size: cover;
        }
        @include balloon($top:2.5rem, $right: $space, $w: $width, $blue: true, $fz: $font-size, $p: $padding, $lh: $line-height, $s: $size);
    }
}