@import '_mixin';

.side{
    position: fixed;
    z-index: 600;
    top: 0;
    left: 0;
    @include flex;
    box-sizing: border-box;
    height: 100%;
    padding-top: 5rem;
    font-size: 1.1rem;
    @include ff;
    @include e(ttl){
        height: 3rem;
        padding-left: 3.6rem;
        margin: 0 0 2rem;
        line-height: 3rem;
        font-size: 1.1rem;
        background-position: 1.2rem center;
        background-repeat: no-repeat;
        color: #bbb;
        @include m(prof){
            background-image: url(/img/knowledge/ttl_side_knowledge.png);
        }
    }
    @include e(subTtl){
        padding-left: .9rem;
        margin: 2rem 0 1rem;
        color: #5b6876;
        font-size: 1.1rem;
        line-height: 1em;
        @include m(first){
            margin-top: 1.1rem;
        }
    }
    @include e(list){
        @include e(item){
            @include e(target){
                position: relative;
                display: block;
                color: #fff;
                line-height: 1.4rem;
                text-decoration: none;
                @include ff;
            }
        }
    }
    a{
        transition: opacity .1s;
        &:hover{
            opacity: .7;
        }
    }
}

.sideLeft, .sideRight{
    width: 16rem;
}
.sideLeft{
    padding-top: 2.5rem;
    background: #333f49;
    .side{
        @include e(list){
            @include e(item){
                @include e(target){
                    padding: 1.3rem 0 1.3rem 1.2rem;
                    @include m(isSelected){
                        border-left: .4rem solid $green;
                        padding-left: .8rem;
                        background: #22313d;
                    }
                }
            }
        }
    }
}
.sideRight{
    padding-top: 7.5rem;
    background: #212931;
    .side{
        @include e(subTtl){

        }
        @include e(list){
            @include e(item){
                @include e(target){
                    padding: 1.1rem 0 1.1rem 1.2rem;
                    @include m(isSelected){
                        background: #262f38;
                    }
                }
            }
        }
    }
}